@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: min(3vw, 16px);
  max-width: 94vw;
  background-color: #03071D;
  color: whitesmoke;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  max-width: 80vw;
}

.tagline {
  text-align: center;
  margin-bottom: 2vh !important;
}

div.menu-button {
  position: fixed;
  z-index: 2;
  right: 5vw;
}

@media only screen and (min-width: 1024px) {
  .main {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

@media only screen and (min-width: 1366px) {
  .main {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}

.project-cards {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.link-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github-logo {
  height: 40px;
}